ul#nav-departments {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
}
/* hides nav-container */
.nav-container-hidden {
  border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  transition: transform 3s ease-in;
}

.slide-in {
  position: absolute;
  left: 0;
  transform: translate(150px);
}

ul#nav-departments li:hover,
.selected-list-item {
  cursor: pointer;
  padding-left: 10px;
  font-weight: 700;
}

img {
  height: 300px;
}
